---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: scripts-pv
spec:
  capacity:
    storage: {{ scripts_pvc_size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: default
  hostPath:
    path: /
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scripts-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ scripts_pvc_size }}
