---{% for actions_batch in ansible %}
- name: {{ actions_batch.name }}
  any_errors_fatal: true
{% if "hosts" in actions_batch.keys() %}  hosts: {{ actions_batch.hosts }}{% endif %}{% if "sudo_prompt" in actions_batch.keys() %}{% if actions_batch.sudo_prompt %}{% endif %}{% endif %}

  vars:
    ansible_sudo_pass: {% raw %}"{{ b64_ansible_ssh_pass | b64decode }}"{% endraw %}
    ansible_ssh_pass: {% raw %}"{{ b64_ansible_ssh_pass | b64decode }}"{% endraw %}{% if actions_batch.type == "role" %}{%if "extra_vars" in actions_batch.keys() %}
    {% for extra_var in actions_batch.extra_vars  %}- {{ extra_var }} : {{ extra_var }}{% endfor  %}{% endif %}

  roles:{% for role in actions_batch.roles  %}
    - { role : {{ role.source }}{% if "params" in role.keys() %}{% for param_key, param_value in role.params.items() %}, {{ param_key }}: {{ param_value}} {% endfor  %}{% endif %} }{% endfor  %}{% endif %}{% if actions_batch.type == "internal_role" %}{%if "extra_vars" in actions_batch.keys() %}
    {% for extra_var in actions_batch.extra_vars  %}- {{ extra_var }} : {{ extra_var }}{% endfor  %}{% endif %}

  roles:{% for role in actions_batch.roles  %}
    - { role : {{ ''.join(["../"] * (scope.split('/')|length + 2)) }}ansible/roles/{{ role.source }}{% if "params" in role.keys() %}{% for param_key, param_value in role.params.items() %}, {{ param_key }}: {{ param_value}} {% endfor  %}{% endif %} }{% endfor  %}{% endif %}
{% if actions_batch.type == "playbook" %}  vars:
    ansible_sudo_pass: {% raw %}"{{ b64_ansible_ssh_pass | b64decode }}"{% endraw %}
    ansible_ssh_pass: {% raw %}"{{ b64_ansible_ssh_pass | b64decode }}"{% endraw %}{% if "params" in actions_batch.keys() %}{% for param_key, param_value in actions_batch.params.items() %}
    {{ param_key }}: {{ param_value }}{% endfor  %}{% endif %}

  import_playbook: "{{ ''.join(["../"] * (scope.split('/')|length + 2)) }}ansible/playbooks/{{ actions_batch.source }}.yml"{% endif %}{% if actions_batch.type == "command" %}
  tasks:{% for command in actions_batch.commands  %}
  - name: {{ command.name }}
    shell: {{ command.source }}{% if "params" in command.keys() %}{% for param_key, param_value in command.params.items() %}
    {{ param_key }}: {{ param_value}} {% endfor  %}{% endif %}{% endfor  %}{% endif %}
{% endfor  %}