{% for vm_name, vm in vm_ssh_params.items() -%}
{% if vm.group == "bastion" -%}
Host {{ vm_name }}
  Hostname {{ vm.bastion_address }}
  IdentityFile {{ ssh_key_path }}
  Port {{ vm.ssh_port }}

{% endif -%}
{% endfor -%}

{% for vm_name, vm in vm_ssh_params.items() -%}
{% if vm.private_ip != "" -%}
{% if vm.group != "bastion" -%}
Host {{ vm_name }}
  Hostname {{ vm.private_ip }}
  ProxyJump {{ vm.bastion_name }}
  IdentityFile {{ ssh_key_path }}
  Port {{ vm.ssh_port }}

{% endif -%}
{% endif -%}
{% endfor -%}

# multiplexing SSH
# Host *
#  ControlMaster   auto
#  ControlPath     ~/.ssh/mux-%r@%h:%p
#  ControlPersist  15m

